
				body{
					background-image: linear-gradient(#1C9B75,#0766C5,#3E7CB1,#7CA2CB,#99ADFF);
				}
				body{
					background-image: linear-gradient(#1C9B75,#0766C5,#3E7CB1,#7CA2CB,#99ADFF);
				}
				.logo{
					float:left;
				}
				.top{
					text-align:center;
				}
				.ult{
					list-style-type:none;
					padding:0;
					margin:0;
				}
				li{
					float:left;
				}
				li a{
					display:block;
					background-image:linear-gradient(#0755C5,#3E7CB1);
					padding:8px;
					margin-top:0px;
					padding-top:0px;
					text-decoration:none;
					border:5px solid;
					border-color:lightblue;
				}
				.titlee{
					background-image:linear-gradient(#0755C5,#3E7CB1);
					text-align:center;
					width:75%;
					border:5px solid lightblue;
					padding:5px;
					margin-top:5px;	
					margin-bottom:5px;	
					margin-right:5px;	
					margin-left:13.5%;				
				}
				.moreinfo{
					text-align:center;
					float:left;  
                	background-image:linear-gradient(#0755C5,#3E7CB1); 
                	width:10%; 
               	 	height:auto;
                	margin-right:3%;
                	border:5px lightblue;
                	border-style:double;
				}
				.Aquascaping{
					text-align:center;
					float:left; 
                	background-image:linear-gradient(#0755C5,#3E7CB1); 
                	width:75%; 
                	height:auto;
                	margin-right:5%;
                	border:5px lightblue;
                	border-style:double;
                	margin-left:0%;
				}
				
				
				.footer{
					float:left;
					clear:left;
					text-align:left;
					background-image:linear-gradient(#0755C5,#3E7CB1);
					width:100%; 
					height:10%;
					margin-top:;
					margin-left:0;
					margin-right:0;
					border-top:5px lightblue;
					border-top-style:double;
				}
				.change{
					font-style:italic;
					font-weight:bold;
				}
				#pleco{
					height:200px;
					width:200px;
					margin-left:100px;
					float:left;
				}
				#boom{
					width:0;
					height:0;
					margin:0;
					display:none;
					padding:0;
				}
				#boom:target{
					width:100%;
					height:100%;
					position:absolute;
					display:block;
					top:0;
					left:0;
				}
				#info{
					width:20%;
					height:auto;
					display:block;
					position:relative;
					z-index:55;
					margin-top:30%;
					margin-left:20%;
					background-color:#D2B48C;
					transform:rotate(-20deg);
				}
				#pleco2{
					width:100%;
					height:100%;
					position:absolute;
					z-index:44;
					top:0;
					left:0;
					float:left;				
				}
				#tetra{
					height:200px;
					width:200px;
					margin-left:100px;
					float:left;
				}
				#boom2{
					width:0;
					height:0;
					margin:0;
					display:none;
					padding:0;
				}
				#boom2:target{
					width:100%;
					height:100%;
					position:absolute;
					display:block;
					top:0;
					left:0;
				}
				#info2{
					width:20%;
					height:auto;
					display:block;
					position:relative;
					z-index:55;
					margin-top:30%;
					margin-left:50%;
					background-color:#D2B48C;
					transform:rotate(20deg);
				}
				#tetra2{
					width:100%;
					height:100%;
					position:absolute;
					z-index:44;
					top:0;
					left:0;
					float:left;				
				}
				#barb{
					height:200px;
					width:200px;
					margin-left:100px;
					float:left;
				}
				#boom3{
					width:0;
					height:0;
					margin:0;
					display:none;
					padding:0;
				}
				#boom3:target{
					width:100%;
					height:100%;
					position:absolute;
					display:block;
					top:0;
					left:0;
				}
				#info3{
					width:20%;
					height:auto;
					display:block;
					position:relative;
					z-index:55;
					margin-top:30%;
					margin-left:50%;
					background-color:#D2B48C;
					transform:rotate(20deg);
				}
				#barb2{
					width:100%;
					height:100%;
					position:absolute;
					z-index:44;
					top:0;
					left:0;
					float:left;				
				}
				#danio{
					height:200px;
					width:200px;
					margin-left:100px;
					float:left;
				}
				#boom4{
					width:0;
					height:0;
					margin:0;
					display:none;
					padding:0;
				}
				#boom4:target{
					width:100%;
					height:100%;
					position:absolute;
					display:block;
					top:0;
					left:0;
				}
				#info4{
					width:20%;
					height:auto;
					display:block;
					position:relative;
					z-index:55;
					margin-top:30%;
					margin-left:20%;
					background-color:#D2B48C;
					transform:rotate(-20deg);
				}
				#danio2{
					width:100%;
					height:100%;
					position:absolute;
					z-index:44;
					top:0;
					left:0;
					float:left;				
				}
				#koi{
					height:200px;
					width:200px;
					margin-left:100px;
					float:left;
				}
				#boom5{
					width:0;
					height:0;
					margin:0;
					display:none;
					padding:0;
				}
				#boom5:target{
					width:100%;
					height:100%;
					position:absolute;
					display:block;
					top:0;
					left:0;
				}
				#info5{
					width:20%;
					height:auto;
					display:block;
					position:relative;
					z-index:55;
					margin-top:30%;
					margin-left:20%;
					background-color:#D2B48C;
					transform:rotate(-20deg);
				}
				#koi2{
					width:100%;
					height:100%;
					position:absolute;
					z-index:44;
					top:0;
					left:0;
					float:left;				
				}
				#arowana{
					height:200px;
					width:200px;
					margin-left:100px;
					float:left;
				}
				#boom6{
					width:0;
					height:0;
					margin:0;
					display:none;
					padding:0;
				}
				#boom6:target{
					width:100%;
					height:100%;
					position:absolute;
					display:block;
					top:0;
					left:0;
				}
				#info6{
					width:20%;
					height:auto;
					display:block;
					position:relative;
					z-index:55;
					margin-top:20%;
					margin-left:20%;
					background-color:#D2B48C;
					transform:rotate(-20deg);
				}
				#arowana2{
					width:100%;
					height:100%;
					position:absolute;
					z-index:44;
					top:0;
					left:0;
					float:left;				
				}
				.img-3{
            grid-area: img-3;
            min-height: 30em;
        }